# Supabase
EXPO_PUBLIC_SUPABASE_URL=sb_publishable_YQtXxC_JS7bS477l-iRkmg_fN8cVAGo
EXPO_PUBLIC_SUPABASE_ANON_KEY=your-anon-key

# Clerk (authentication)
EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_Y3VkZGx5LWZpc2gtOTQ3NS5jbGVyay5hY2NvdW50cy5kZXYk

# Google Maps (react-native-maps)
EXPO_PUBLIC_ORS_API_KEY=eyJvcmciOiI1YjNjZTM1OTc4NTExMTAwMDFjZjYyNDgiLCJpZCI6IjZiNTI0ZDNjMmI0MDQyYzg5YjQxZWJmNzdkMjYyYjA1IiwiaCI6Im11cm11cjY0In0=

dbPass=pWRNC5WNWZV6oeCf2
